.bookingcomp{
    display: flex;
    justify-content: space-around;
    color: white;
}
.dr-button{
    background-color: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-bottom: 1px white solid;
}
.rdp{
    color: black;
}
.addbutton{
    cursor: pointer;
}
.subbutton{
    cursor: pointer;
}
.dr{
    position: relative;
    top: 5px;
    left: 0;
    background-color: white;
    color: black;
}